<!Doctype html>
<html>

<head>
  <title>Go Lang Application</title>
  <link href="css/site.css" rel="stylesheet">
</head>

<body>
  <div class="main-container">
    <div class="cloud-image">
      <img src="img/successCloudNew.svg" />
    </div>
    <div class="content">
      <div class="content-body">
        <div class="success-text">{{.Message}}</div>
        <div class="description line-1"> Your {{.Language}} app is up and running on Azure.</div>
      </div>
    </div>
  </div>
</body>

</html>